<div class="container"  style="display: flex; justify-content: space-around;">
  <div>
   
    <div class="card" id="cardburger" style="width: 18rem;">
      <img src="/assets/images/burger.jpg" class="card-img-top" alt="Huge burger">
      <div class="card-body" style="text-align: left;">
        <h5 class="card-title">Devour A Burger</h5>
        <ul>
          {{#each burgers}}
          {{#unless devoured}}
          {{> burgers-block devoured=true}}
          {{/unless}}
          {{/each}}
        </ul>

      </div>
    </div>
  </div>

  <div>
   
    <div class="card" id="cardevour" style="width: 18rem;">
      <img src="/assets/images/devoured.jpg" class="card-img-top" alt="happy guy">
      <div class="card-body" style="text-align: left;">
        <h5 class="card-title">Eat More or Walk Out</h5>
         <ul>
      {{#each burgers}}
      {{#if devoured}}
      {{> burgers-block devoured=false}}
      {{/if}}
      {{/each}}
    </ul>

      </div>
    </div>

   
  </div>
</div>
</div>




<!-- Button trigger modal -->
<button type="button" class="btn btn-secondary btn-lg btn-block" data-toggle="modal" data-target="#exampleModal">
 Add A Tasty Burger
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Let's Add a Burger</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       
<form class="create-form">
  <div class="form-group">
    <label for="bu">Burger Name:</label>
    <input type="text" id="bu" name="name">
  </div>
      <div class="form-group">
  
    <input type="radio" name="devoured" value="1" checked> Devoured!<br>
    <input type="radio" name="devoured" value="0"> Available
  </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
               <button type="submit">Add Burger</button>
         </form>
      </div>
    </div>
  </div>
</div>
  

 

</div>
</div>